.pagination-option {
    background-color: rgba(24, 15, 42, 0.9); /* Fundo semi-transparente */
    border-color: rgba(24, 15, 42, 0.9);    /* Borda semi-transparente */
    color: white;                           /* Texto permanece legível */
    backdrop-filter: blur(10px);            /* Adiciona um leve desfoque para sofisticação */
    border-radius: 8px;                     /* Bordas arredondadas para um estilo mais moderno */
    display: flex;                          /* Usa flexbox para o alinhamento */
    justify-content: center;                /* Centraliza horizontalmente */
    align-items: center;                    /* Centraliza verticalmente */
    padding: 0.5rem 1rem;                   /* Ajusta o tamanho do botão */
  }
  
  .pagination-option:hover {
    background-color: rgba(24, 15, 42, 0.7);  /* Fundo mais transparente ao passar o mouse */
    border-color: rgba(24, 15, 42, 0.7);      /* Borda mais transparente ao passar o mouse */
  }
  