.navbar{
    background-color: #180f2a;
    padding: 12px 3%;
    
    .page-title{
        color: #fff;
    }
}
/* src/components/index.scss */

.page-title {
    text-decoration: none; /* Remove o sublinhado */
    color: #000; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}

/* Se houver regras que aplicam um sublinhado a links */
a {
    text-decoration: none; /* Remove o sublinhado de todos os links */
}
