.navbar-custom {
    background-color: rgba(8, 4, 15, 0.97); /* Fundo quase preto com um toque de opacidade */
    border-color: rgba(8, 4, 15, 0.97);    /* Borda igual ao fundo */
    color: white;                           /* Texto em branco para contraste */
    border-radius: 0;                       /* Mantém bordas retas */
  }
  
  

  .user-menu {
    background-color: rgba(24, 15, 42, 0.9); /* Fundo semi-transparente */
    border-color: rgba(24, 15, 42, 0.9);    /* Borda semi-transparente */
    color: white;                           /* Texto permanece legível */
    backdrop-filter: blur(10px);            /* Adiciona um leve desfoque para sofisticação */
    border-radius: 8px;                     /* Bordas arredondadas para um estilo mais moderno */
  }
  
  