.navbar-custom {
    background-color: rgba(8, 4, 15, 0.97); /* Fundo quase preto com um toque de opacidade */
    border-color: rgba(8, 4, 15, 0.97);    /* Borda igual ao fundo */
    color: white;                           /* Texto em branco para contraste */
    border-radius: 0;                       /* Mantém bordas retas */
  }